/* general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(19, 19, 19);
}

.container{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.container>*{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

/* header */
.header {
    background: grey;
    height: 130px;
}

.header nav{
    font-size: larger;
    padding-top: 50px;
}

.header nav ul{
    list-style-type: none;
}

.header nav ul li{
    display: inline-block;
    margin-right: 30px;
}

/* about me */
.about-me{
    text-align: left;
    height: 300px;
    font-size: larger;
    color: white;
}

.about-me img{
    max-height: 300px;
    max-width: 300px;
    float: left;
    margin-right: 30px;
}

/* my work */
.my-work1{
    background: gray;
}

.my-work1 img{
    max-height: 500px;
    max-width: 60%;
}

.my-work2{
    background-color: gray;
}

.my-work2 img{
    max-height: 500px;
    max-width: 50%;
}

.contact-me{
    background: grey;
    height: 130px;
}

.contact-me nav{
    font-size: 35px;
    margin-right: 50px ;
}

.contact-me nav ul{
    list-style-type: none;
}

.contact-me nav ul li{
    display: inline-block;
    margin-right: 10px;
    padding: 30px;
}

.footer{
    padding: 45px;
    height: 100px;
    font-size: large;
    color: white;
}

@media all and (min-width: 800px){
    .about-me{
        flex: 5;
    }

    .about-me{
        order: 1;
    }

    .my-work1{
        order: 2;
    }

    .my-work2{
        order: 3;
    }

    .contact-me{
        order: 4;
    }
    .footer{
        order: 5;
    }
}


